@(profile: String, isLog: Boolean)
@main("Agenda de Contraseñas HAL 9000",isLog,profile){

      <script type="text/javascript" src="@routes.Assets.versioned("javascripts/getPass.js")"></script>
<br> <br>  <br> 
  <div class="row column text-center" >
    <h1>Bienvenido a tu Agenda de Contraseñas HAL 9000</h1>
    <p class="lead">Eliga una opción a realizar por favor.</p>
  </div>
  <br>  <br> <br>
  <center><div class="row" >
    <div class="medium-4 columns medium-push-6">
      <button class="button" onclick="agregarPass()">Agregar una Contraseña Nueva</button>
    </div>
    <div class="medium-4 columns medium-pull-6">
      <button class="button"  onclick="buscarPass()">Buscar Contraseñas Existentes</button>
    </div>
  </div></center>
        <div id="divBuscarPass" name="divBuscarPass" >
          <br>
        <form method="get" action="@routes.Application.getBusqueda()">
          <div class="row">
            <div class="small-3 columns">
               <label for="middle-label" class="text-right middle">Ingrese la plataforma</label>
           </div>
          <div class="small-6 columns">
            <input type="text" id="middle-label" placeholder="plataforma" id="plataforma" name="plataforma">
          </div>
          <div class="small-3 columns">
            <button type="submit" class="button expanded" id="botonBusc" name="botonBusc">Buscar</button>
          </div>
        </div>
      </form>
        <div class="small-12 columns" id="respuestaPassword" name="respuestaPassword" style=" padding-top: 30px;">
           <center> <table style="text-align: center;">
              <thead>
              <tr>
                <th width="200" style="text-align: center;">Plataforma</th>
                <th width="200" style="text-align: center;">Cuenta</th>
                <th width="200" style="text-align: center;">Password</th>
              </tr>
            </thead>
            <tbody>
              <tr id="passwords" name="passwords">
              </tr>
            </tbody>
          </table></center>
        </div>
      </div> 
      <center>
      <div id="agregarPass" name="agregarPass">
        <form method="post" action="@routes.Application.postPassword()">
      <div class="row column log-in-form" style="border: 1px solid #cacaca; padding: 1rem; border-radius: 3px;">
        <h4 class="text-center">Crear Contraseña</h4>
        <label>plataforma
          <input type="text" placeholder="plataforma" name="plataforma">
        </label>
        <label>cuenta
          <input type="text" placeholder="cuenta" name="cuenta">
        </label>
         <label>password
          <input type="text" placeholder="password" name="password">
        </label>
        <button type="submit" class="button expanded" value="Login">Agregar</button>
      </div>
    </form>
      </div></center>
  <script type="text/javascript" >
        document.getElementById("divBuscarPass").style.visibility="hidden";
        document.getElementById("agregarPass").style.visibility="hidden";

        function buscarPass(){
            document.getElementById("agregarPass").style.visibility="hidden";
            document.getElementById("divBuscarPass").style.visibility="visible";
        }

        function agregarPass(){
            document.getElementById("divBuscarPass").style.visibility="hidden";
            document.getElementById("agregarPass").style.visibility="visible";
        };
  </script>
}